body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 0;
    background-color: #1f2937;
    padding: 0 200px;
    margin: 0;
}

.logo img {
    width: 60px;
    height: auto;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
}

/* Check here */

li {
    margin: 12px 24px;
}

/*Check here */

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
} 

.content-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 40px 200px;
    margin: 0;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin: 50px 0;
    width: 400px;
}

.big-font {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.button-1 {
    display: flex;
    justify-content: left;
    
}

button {
    color: white;
    background-color: #3882f6;
    font-size: 20px;
    border-radius: 8px;
    width: 160px;
    height: 40px;
    border: none;
}

.logo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 240px;
    font-size: 24px;
    color: #F9FAF8;
    background-color: gray;
}

.content-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px;
}

.info-p {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.information-images {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.info-img1,
.info-img2,
.info-img3,
.info-img4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;    
    margin: 30px;
}

.info-img1 img,
.info-img2 img,
.info-img3 img,
.info-img4 img {
    display: flex;
    width: 160px;
    height: 160px;
    border: solid 2px #3882f6;
    border-radius: 8px;
    text-align: center;
}

.info-img1 p,
.info-img2 p,
.info-img3 p,
.info-img4 p {
    text-align: center;
}

.content-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e7eb;
    padding: 40px 260px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.content-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: auto;
}

.sign-up {
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 80px 0px 80px 260px;
    gap: 160px;
    border-radius: 8px;
}

.action-quote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 60px;
}

.white-border {
    border: solid 2px white;
    border-radius: 8px;
    padding: 8px 16px;
    margin-right: 60px;
}

.bold {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 8px 0;
}

.small {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 200;
    margin: 8px 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 40px;
    color: #F9FAF8;
}